.ChooseTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 117px;
  margin: 0px;
  padding: 0;
  color: #ffffff;
}
.subTitle {
  font-family: Roboto;
  font-style: normal;
  margin: 0px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin-bottom: 15px;
}

.startButton {
  margin: 10px;
  background: #ffffff;
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  color: #000000;
  padding: 2px 20px 2px 20px;
  border: none;
}
