.Rec {
  /* box-shadow: 0px 0px 30px 14px rgba(69, 127, 202, 0.8);
  border-radius: 100px; */
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  flex: 8;
}
.no {
  text-decoration: none;
  color: black;
}
input[type="email"],
input[type="password"] {
  width: 350px;
  border: none;
  border-bottom: 5px solid #ccc;
  height: 30px;
  background: none;
  outline: none;
  font-size: 25px;
  color: #ccc;
}
input[type="submit"] {
  width: 300px;
  height: 50px;
  background: #ffffff;
  border-radius: 100px;
  font-size: 25px;
  margin-top: 20px;
  outline: none;
  border: none;
}

form p {
  color: #ccc;
  font-size: 25px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-check {
  width: 100%;
  text-align: end;
  cursor: pointer;
}

.Sign-Up {
  color: #ccc;
  text-decoration: none;
  font-size: 25px;
  width: 70%;
  text-align: right;
  margin-top: 10px;
}

.Frame {
  display: flex;
}
.Back {
  flex: 4;
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}
img {
  width: 20%;
}
.none {
  opacity: 0;
}
.notNone {
  opacity: 1;
}
