.StudentInfo {
  background: #ffffff;
  border-radius: 10px;
  width: 390px;
  height: 370px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  margin-left: 60px;
  text-align: center;
  color: #000000;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Select {
  width: 90px;
  font-size: 18px;
  height: 35px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 900;
  &:hover {
    background-color: #ccc;
  }
}
.SelectButton {
  width: 80px;
  height: 30px;
  background: none;
  font-size: 18px;
  border: none;
  &:hover {
    background-color: #ccc;
  }
}
